/*21961044 박소현*/
section#main {
  width:990px;
  margin:auto;
}
section#cat1{
  width:215px;
  float:left;
  margin-top:15px;
  font-weight:bold;
}
section#cat1 #cat_title{
  padding:12px;
  background-color:#FF6600;
  color:#ffffff;
  text-align:center;

}
section#cat1 li{
  color:#666666;
  padding:7px 0 7px 30px;
  border-bottom:solid 1px #cccccc;

}
section#cat2{
  float:left;
  margin-top:15px;
}
section#cat3{
  width:236px;
  float: left;
  margin-top:15px;
}
section#cat3 #latest_notice{
  width:239px;
  height:161px;
  background-image:url("./notice (2).png");
  background-repeat:no-repeat;

  }
  section#cat3 #latest_notice ul{
    padding: 42px 0 0 30px;
    list-style-image:url("./dot.png");
  }
  section#cat3 #week_event{
    width:239px;
    height:191px;
    margin-top:11px;
    background-image:url("./week.png");
    background-repeat:no-repeat;
  }
  section#cat3 #week_event img{
    margin:58px 0 0 22px;
  }

  section#special_shop{
    width:592px;
    height:389px;
    margin-top:20px;
    float:left;
    background-image:url("./special_shop.png");
    background-repeat:no-repeat;
  }
  section#special_shop ul{
    margin:60px 0 025px;
  }
  section#special_shop li{
    display:inline;
    margin:0 2px;
  }
  section#special_shop img{
    padding: 20px;
    border:solid 1px #cccccc;
  }
  section#special_banner{
    float:left;
    margin:19px 0 0 5px;
  }
  section#special_banner div{
    width:392px;
    height:129px;
    margin-top:1px;
  }

  section#special_banner #banner1{
    background-image:url("./album.png");
    background-repeat:no-repeat;
  }
  section#special_banner #banner2{
    background-image:url("./photo.png");
    background-repeat:no-repeat;
  }
  section#special_banner #banner3{
    background-image:url("./song.png");
    background-repeat:no-repeat;
  }
  section#special_banner ul{
    padding:6px 0 0 132px;
  }
  section#special_banner li{
    display:inline;
  }


  section#new{
    height:650px;
    margin-top: 20px;
    border-top:solid 2px #FF6600;
  }
  section#new h3{
    margin:20px 0 0 35px;
  }
  section#new h3 span{
    color:#FF6600;
  }
  section#new .item{
    float:left;
    text-align:center;
    margin:20px 0 0 32px;
  }
  section#new .item .subject{
    margin-top:10px;
    color:#FF6600;
  }
  section#new .item .comment{
    margin-top:5px;
    color:#888888;
  }
  section#new .item .price{
    margin-top:5px;
    font-weight:bold;
  }



  footer{
    height:200px;
    margin-top:20px;
  }
  footer #footer_menu_box{
    height:40px;
    background-color:#4e4c4d;
  }
  footer #footer_menu{
    width:990px;
    margin:0 auto;
    padding-top:15px;
  }
  footer #footer_menu ul{
    margin-left:210px;

  }
  footer #footer_menu li{
    display:inline;
    margin-left:20px;
  }
  footer #footer_menu a:link{
    color:#ffffff;
  }
  footer #footer_menu a:hover{
    color:#ffffff;
  }
  footer #footer_menu a:visited{
    color:#ffffff;
  }
  footer #footer_menu a:active{
    color:#ffffff;
  }
  footer #footer_box{
    width:990px;
    margin:auto;
  }
  footer #footer_box div{
    float:left;
  }
  footer #footer_box #footer_logo{
    margin:50px 0 0 30px;
  }
  footer #footer_box #address{
    margin:25px 0 0 10px;
  }
  footer #footer_box #footer_banner{
    margin:50px 0 0 70px;
  }
